body {
    background-color: #B3E5FC;
    margin: 0 auto;
}

.img_background .photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
}

.weather_container {
    margin-top: -140px;
    z-index: 1;
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
}

.wather_background {
    background: linear-gradient(10deg, #0171b0, transparent);
    width: 1100px;
    padding-bottom: 60px;
    padding-top: 32px;
    border-radius: 15px;
    margin-bottom: 40px;
}

.weather_five_days {
    display: none;
}

.weather_title {
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

#currentWeather {
    display: grid;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    ul li {
        list-style: none;
        font-family: 'Dosis', sans-serif;
        font-size: 22px;
    }
}

.weather_title .with_current .with_five {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
}

.weather_input {
    display: grid;
    justify-content: center;
    outline: none;
    color: #0288D1;
    input {
        width: 400px;
        height: 50px;
        border-radius: 14px;
        border: none;
        text-align: center;
        color: #0288D1;
        font-family: 'Dosis', sans-serif;
        outline: none;
        font-weight: bold;
        font-size: 20px;
    }
}

#fiveDaysWeather {
    display: grid;
}

.main-five-weather-list {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    list-style: none;
    padding-right: 40px;
    .main_li {
        color: #ffffff;
        padding-bottom: 4px;
        border-right: solid 0.5px;
        margin-bottom: 64px;
        padding-right: 10px;
        font-size: 10px;
    }
}

li {
    list-style: none;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    justify-content: start;
    padding-bottom: 1px;
}

.button_next {
    display: grid;
    justify-content: center;
    #nextButton {
        display: none;
        width: 260px;
        height: 55px;
        border: none;
        border-radius: 10px;
        margin-bottom: 40px;
        color: white;
        background-color: #FF6633;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Dosis', sans-serif;
        outline: none;
    }
}

#notFound {
    justify-content: center;
    display: grid;
    color: #FF6633;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

#currentWeather img {
    display: none;
}

// .with_current {
//     display: none;
// }